<%- include('../partials/head'); -%>
<div class="login-box">
    <img src="../images/icons/eRent144x144.png">
    <p clasS="text-muted">e-Rent</p>
    <h5 class="text-muted">Ingresar</h5>  
    <hr>
        <div id="notif"></div>
        <div class="col-md-4 col-sm-8">
            <input type="text" class="form-control" placeholder="Email" id="email">
            <div id="emailFeedback" class="invalid-feedback">
            </div>
        </div>
        <div class="col-md-4 col-sm-8 pt-2">
            <input type="password" class="form-control" placeholder="Contraseña" id="password">
            <div id="passwordFeedback" class="invalid-feedback">
            </div>
        </div>

        <div class="row pt-4">
            <button class="btn btn-info btn-lg" onclick="login()">Ingresar</button>
            
            <button class="ml-2 btn btn-outline-info btn-lg">
                <a href="./register">
                    Registrate
                </a>
            </button>
        </div>
        <br>
        
</div>
<%- include('../partials/footer'); -%>


<script>
    (function(){
        $("input.form-control").on('click', function(elem){
            $(`#${elem.target.id}`).removeClass('is-invalid');
        })
    })()
     function login() {
        $("#loader").fadeIn();
        let email = $("#email");
        let password = $("#password");

        sendLogin(email.val(), password.val(), function(data) {
            if(data.ok) {
                window.location.href = './';
            } else {
                $("#loader").fadeOut(); 
                if(data.code == 4) {
                    let el = `<div class="alert alert-info alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <p class="text-center text-muted" style="font-size: 1rem;">
                            <span class="fui-alert-circle"></span>
                            Confirma tu correo para poder continuar<strong></strong> 
                        </p>
                        
                    </div>`;
                    $("#notif").append(el);
                }
                if(data.code == 0) {
                    let el = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <p class="text-center text-muted" style="font-size: 1rem;">
                            <span class="fui-alert-circle"></span>
                            ${data.msg}<strong></strong> 
                        </p>
                        
                    </div>`;
                    $("#notif").append(el);
                }

                if(data.errors.length > 0) {
                    data.errors.forEach(value => {
                        $(`#${value.param}`).addClass('is-invalid');
                        $(`#${value.param}Feedback`).html(value.msg);
                    });
                }  
                       
            }
        });
    }
</script>