<%- include('../partials/head'); -%>
<style>
    .row.center {
        justify-content: space-around;
    }
    .pendiente {
        color:rgb(223, 63, 4);
    }
    .pagado {
        color: green;
        padding-right: 1rem;
    }
    #proximos-vencimientos {
        overflow-x: hidden;
        padding: 2px;
        max-height: 20rem;
    }

</style>
<%- include('../partials/navbar', {userData}); -%>
<div class="row midd-content p-1" style="margin-top: 3rem;">   
    <div class="card mx-2 col-md-5 col-12 py-4" id="proximos-vencimientos">
        <div class="login-box" style="height: 100%;">
            <p class="text-muted">Aplica los filtros para buscar facturas</p>
        </div>
    </div>    

    <div class="card mx-2 col-md-3 col-12">
        <p class="mb-1"><strong>Filtrar por fecha</strong></p>
        <hr>
        <p class="mb-1">Desde</p>
        <input class="form-control" type="date" id="from">
        <p class="mb-1">Hasta</p>
        <input class="form-control" type="date" id="until">
        <button class="btn btn-info rounded mt-4" onclick="invoices()">Aplicar</button>
    </div>
                
</div>

<%- include('../partials/footer'); -%>
<script>
    function invoices() {
        $("#loader").fadeIn();

        let from = $("#from").val();
        let until = $("#until").val();

        getInvoices(from, until, drawInvoices);
    }

    function getInvoices(from, until, cb) {
        let data = {from, until};
        fetch("invoice", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        })
        .then(function(response) {
            return response.json();
        })  
        .then(function(response) {
            cb(response);
        }) 
        
    }

    function drawInvoices(data) {
        let proximosVencimientos = $("#proximos-vencimientos");
        proximosVencimientos.html("");

        if(data.ok) {
            if(data.invoices.length > 0) {
                data.invoices.forEach((invoice, index) => {
                let date = new Date();
                date.setMonth(invoice.month - 1);
                let item = ` <a href="/invoice/detail/${invoice._id}">
                            <div class="row center">                        
                                <img src="/icons/invoice.svg" alt="" style="height: 11%; width: 11%;">  
                                <p>${invoice.contract_id.name} <br>
                                    <span>${invoice.contract_id.surname}</span>
                                </p>
                                <span>
                                    <span class="text-capitalize">${moment(date).format("MMMM")}</span>
                                    <br>
                                    ${
                                        invoice.payed ? '<p class="subtitle pagado">Pagado</span></p>': '<p class="subtitle pendiente">Pendiente</p> '
                                    }                                                                                                           
                                </span>                                          
                                
                            </div>
                        </a>
                        ${(index < data.invoices.length -1) ? '<hr>': ''}`;
                        
                    proximosVencimientos.append(item);

                })
                $("#loader").fadeOut();
                
            } else {
                let notice = `<div class="login-box" style="height: 100%;">
                                <p class="text-muted">Parece que no encontramos nada</p>
                            </div>`;
                proximosVencimientos.append(notice);
                $("#loader").fadeOut();
            }
            

        }
    }
</script>           