<nav class="navbar navbar-default navbar-expand-lg" role="navigation">
  <a class="navbar-brand" href="/"><img src="/icons/eRent.png" alt="" width="40%"></a>
  <button type="button m-0" class="navbar-toggler"></button>
</nav><!-- /navbar -->