body {    
    background-color: #edeff1;
}

.card {
    background-color: white;
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 6px;
}

.row-s {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.midd-content {
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    align-items: center;
}

p {
    font-family: 'Poppins', sans-serif;
}

.icon-txt {
    font-size: 80%;
}

.dashboard {
    margin-top: 5%;
}

.margin-top-6 {
    margin-top: 6%;
}

.margin-10 {
    width: 10rem; height: 11rem;
}

.width-10 {
    width: 40%;
}

@media (min-width: 300px) {
    .width-10 {
        width: 90%;
    }
}

@media (min-width: 620px) {
    .width-10 {
        width: 40%;
    }
}

.dashboard > a > .card:hover {
    background-color: #b7defc;
}
/* .card > p:hover {
    color: white;
} */

@media (min-width: 620px) {
    .margin-10 {
        height: 12rem;
    }
}

a {
    color: #34495e;
}

a:hover, a:focus {
    color: white;
}

.txt-form {
    font-size: 80%;
}

.txt-vencimientos {
    font-size: 60%;
}


.vencimientos {
    width: 40rem;
}
@media (min-width: 620px) and (max-width: 920px) {
    .vencimientos {
        width: 40rem;
    }
}

@media (min-width: 300px) and (max-width: 620px) {
    .vencimientos {
        width: 15rem;
    }
}

.font-s-90 {
    font-size: 90%;
}

.avatar-img {
    height: 4rem;
    width: 4rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
    }
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

#proximos-vencimientos {
    height: 15rem; overflow: scroll;
    flex-flow: column;
    padding: 4px;
}
#proximos-vencimientos::-webkit-scrollbar {
    -webkit-appearance: none;
}

#proximos-vencimientos::-webkit-scrollbar:vertical {
    width:10px;
}

#proximos-vencimientos::-webkit-scrollbar-button:increment,#proximos-vencimientos::-webkit-scrollbar-button {
    display: none;
} 

#proximos-vencimientos::-webkit-scrollbar:horizontal {
    height: 10px;
}

#proximos-vencimientos::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

#proximos-vencimientos::-webkit-scrollbar-track {
    border-radius: 10px;  
}