html {
    height: 100%;
}
.bw {
    background-color: rgba(255, 255, 255, 0.501);
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: fixed;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;

}
.loader {
  color: #6bbefd;
  position: fixed;
    top: 20%;
    z-index: 1000;
    left: 46%;
  margin: 80px auto;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
  
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
  

body {    
    background-color: #edeff1;
    height: 100%;
}

.card {
    background-color: white;
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 6px;
}

.row-s {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.midd-content {
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    align-items: center;
}

p {
    font-family: 'Poppins', sans-serif;
}

.icon-txt {
    font-size: 80%;
}

.dashboard {
    margin-top: 5%;
}

.margin-top-6 {
    margin-top: 6%;
}

.margin-10 {
    width: 10rem; height: auto;
}

.width-10 {
    width: 40%;
}

@media (min-width: 300px) {
    .width-10 {
        width: 90%;
    }
}

@media (min-width: 620px) {
    .width-10 {
        width: 40%;
    }
}

.dashboard > a > .card:hover {
    background-color: #b7defc;
}
/* .card > p:hover {
    color: white;
} */

a :hover {
    background-color: #b7defc;
}

a {
    color: #34495e;
}
hr {
    margin: 8px;
}
a:hover, a:focus {
    color: white;
}
.subtitle {
    font-size: 75%;
    color: rgb(102, 102, 102);
}
.txt-form {
    font-size: 80%;
}

.txt-vencimientos {
    font-size: 60%;
}


.vencimientos {
    width: 40rem;
}
@media (min-width: 620px) and (max-width: 920px) {
    .vencimientos {
        width: 40rem;
    }
}

@media (min-width: 300px) and (max-width: 620px) {
    .vencimientos {
        width: 15rem;
    }
}

.font-s-90 {
    font-size: 90%;
}

.avatar-img {
    height: 4rem;
    width: 4rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
    }
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

#proximos-vencimientos {
    height: auto; 
    max-height: 15rem;
    overflow: scroll;
    flex-flow: column;
    padding-top: 1rem;
}

#proximos-vencimientos::-webkit-scrollbar {
    -webkit-appearance: none;
}

#proximos-vencimientos::-webkit-scrollbar:vertical {
    width:10px;
}

#proximos-vencimientos::-webkit-scrollbar-button:increment,#proximos-vencimientos::-webkit-scrollbar-button {
    display: none;
} 

#proximos-vencimientos::-webkit-scrollbar:horizontal {
    height: 10px;
}

#proximos-vencimientos::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

#proximos-vencimientos::-webkit-scrollbar-track {
    border-radius: 10px;  
}

#proximos-vencimientos > .row {
    justify-content: space-around;
}

.total {
    font-size: 85%;
    color: rgb(102, 102, 102);
}

.text-invoice-detail {
    font-size: 85%;
    margin: 0;
}

@media (max-width: 620px) {
    .rounded-circle.avatar-img.col-2 {
        height: 50%;
        width: 60%;
    }
}

@media (max-width: 350px) {
    .navbar-brand{
        width: 30%;
    }
}

.login-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form-control:focus {
    border-color: #6bbefd !important;
}
.form-control {
    border-radius: 26px;
}

.ui-slider-range {
    background-color: #6bbefd !important;
}
.ui-slider-handle {
    background-color: #6bbefc !important;
}